.preloader {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 82px);
}

.preloaderCircle {
  display: block;
  width: 74px;
  height: 74px;
  border: 1px solid;
  border-color: #0033ff #061f9a #010d4d #8489b9;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: spin 0.75s infinite linear;
  -webkit-animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
